SESSION_SECRET=your_session_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
FACEBOOK_CLIENT_ID=your_facebook_client_id
FACEBOOK_CLIENT_SECRET=your_facebook_client_secret
DB_URL=mongodb://localhost/RentWise
OPEN_ROUTE_APIKEY=your_open_route_api_key
JWT_EXPIRES_IN=1d
MAILTRAP_USER=your_mailtrap_user
MAILTRAP_PASS=your_mailtrap_pass
JWT_API_SECRET_KEY=your_jwt_secret_key
COOKIE_KEY=your_cookie_key
COOKIE_MAX_AGE=7d
CLIENT_URL=http://localhost:4000
COOKIE_ENCRYPTION_KEY=your_cookie_encryption_key
GOOGLE_CALLBACK_URL=http://localhost:3600/auth/google/callback
DB_URL_online=your_mongodb_connection_string
WEB_PUSH_PUBLIC_KEY=Public-key
WEB_PUSH_PRIVATE_KEY=Private-key
AI_MODEL_PORT=http://localhost:5000
